
<div  class="col-lg-12 col-sm-12 " style="padding-right:0; padding-left:0;">	 



	<div  class="col-lg-6 col-sm-12">			
		<div class="panel panel-default panel-primary">
			<div class="panel-heading">Connect to existing Drone </div>
			<div class="panel-body">



						<div class="container-fluid">
							<div class="row form-inline"  >
								<label class="col-lg-4 col-md-4 col-sm-4 col-xs-2" for="usr">Connection String:</label>
								<input type="text" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-control" name="connectionString" ng-model="connectionString" />
							</div>
							<button type="button" class="btn btn-primary" ng-click='connectExisting()'>Connect to existing drone</button>
						</div>


			</div>
		</div>
	</div>

	<div  class="col-lg-6 col-sm-12">			
		<div class="panel panel-default panel-primary">
			<div class="panel-heading">Create Simulated Drone </div>
			<div class="panel-body">


				<div class="container-fluid">
					<button type="button" class="btn btn-primary" ng-click='createSimulated()'>Create Simulated Drone</button>
				</div>

			</div>
		</div>
	</div>

</div>

 
